<!doctype html>
<html>  
    <head>  
        <title>{{t}}</title>  
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='gstyle.css')}}" >  
    </head>  
<body>  
  <h1>{{h}}</h1>

  <hr>  
  <h3>Result of the Search : ToDO List</h3>

  <table>
    <tr id="row">
      <td class="id">ID</td>
      <td class="codigo">Código</td>
      <td class="fecha">Fecha</td>
    </tr>

    {% for d in des %}
    <tr class="datas">
      <td class="id">{{ d["_id"] }}</td>
      <td class="codigo">{{ d["barcode"] }}</td>
      <td class="fecha">{{ d["date"] }}</td>
    </tr>
    {% endfor %}

  </table>

  <a href="/">Return to Home</a>  
</body>  
</html>
