<!doctype html>
<html>  
  <head>  
    <title>{{t}}</title>
    <style>
      table {
      border-collapse: collapse;
      width: 100%;
      }

      th {
      text-align: left;
      padding: 8px;
      background-color: #4CAF50;
      color: white;
      }

      td {
      text-align: left;
      padding: 8px;
      }
      
      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

  </head>  
  <body>  
    <h1>{{h}}</h1>

    <hr>  
    <h3>Result of the Search : Garbage List</h3>

  <table>
    <tr>
      <th>DataBase ID</th>
      <th>Codigo de Barras</th>
      <th>Fecha del Desecho</th>
    </tr>

    {% for d in des %}
    <tr>
      <td>{{ d["_id"] }}</td>
      <td>{{ d["barcode"] }}</td>
      <td>{{ d["date"] }}</td>
    </tr>
    {% endfor %}

  </table>

  <a href="/">Return to Home</a>  
</body>  
</html>
