<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CESTO INTELIGENTE</title>
    <link rel="stylesheet" type = "text/css" href="/static/style.css">
    <!-- <script src="script.js"></script> -->
    <!-- <style> -->
    <!--   button { -->
    <!--      background-color: #4CAF50; /* Green */ -->
    <!--      border: none; -->
    <!--      color: white; -->
    <!--      padding: 15px 32px; -->
    <!--      text-align: center; -->
    <!--      text-decoration: none; -->
    <!--      display: inline-block; -->
    <!--      font-size: 16px; -->
    <!--   } -->
    <!-- </style> -->
  </head>
  <body>
    <!-- page content -->
    <h1>CESTO INTELIGENTE</h1>
    <h2>Proyecto Final Esteban Vines</h2>
    <h2>UdeMM - Universidad de la Marina Mercante</h2>
    <img src="/static/logo_udemm.jpeg" alt="Logo Facu" style="width:200px;height:200px;">
    <p>Elija la acción a seguir:</p>
    <a href='/garbage'>
      <button class="button button1">Ver Elementos en el Carrito</button>
    </a>
    <button class="button button2">Estimar Consumos Mensuales</button>
    <button class="button button3">Editar Productos en la DB</button>
  </body>
</html>
